.mortgage-wrapper {
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mortgage-wrapper .label-wrapper {
    margin: 20px 0;
    width: 100%;
}

.mortgage-wrapper .label-wrapper label {
    font-size: 24px;
    width: 100%;
}

.mortgage-wrapper .label-wrapper .input-container {
    display: flex;
    background: #bbbbbb;
    width: 300px;
    border-radius: 6px;
    padding: 6px 0;
    align-items: center;
}

.mortgage-wrapper .label-wrapper .input-container:focus {
    outline: 2px solid #000000;
}

.mortgage-wrapper .label-wrapper .label-helper {
    margin: 0 10px;
}

.mortgage-wrapper .label-wrapper select {
    background: #bbbbbb;
    border: none;
    font-size: 24px;
    width: 100%;
    margin: 10px;
}

.mortgage-wrapper .label-wrapper option {
    margin-left: 10px;
    font-size: 20px;
}

.mortgage-wrapper .label-wrapper input {
    border: none;
    background: #bbbbbb;
    width: 100%;
    outline: none;
    margin: 10px;
    font-size: 20px;
}

.mortgage-wrapper .checkbox-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}

.mortgage-wrapper .checkbox-container input {
    margin-right: 10px;
}

.mortgage-wrapper .tooltip {
    margin-left: 10px;
    display: flex;
    text-align: center;
    position: relative;
}

.mortgage-wrapper .tooltip h2 {
    font-size: 24px;
    font-weight: 700;
    background: #bbbbbb;
    padding: 1px 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.mortgage-wrapper .tooltip:hover {
    color: #000000;
    background: white;
}

.mortgage-wrapper .tooltip:hover h2 {
    color: #000000;
    background: rgb(212, 212, 212);
}

.mortgage-wrapper .tooltip:hover p {
    display: block;
}

.mortgage-wrapper .tooltip p {
    display: none;
    position: absolute;
    width: 400px;
    background: #bbbbbb;
    border: 1px solid black;
    left: 40px;
}