.auto-calc-form {
    background: #6d6d6d56;
    width: 400px;
    max-width: 400px;
    padding: 10px 0;
    border-radius: 8px;
}

.auto-calc-form .label-wrapper {
    margin: 20px auto;
    width: 80%;
    background: #03d3563b;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.auto-calc-form .label-wrapper label {
    font-size: 20px;
    color: rgb(231, 230, 230);
    margin-left: 10px;
    width: 50%;
}

.auto-calc-form .label-wrapper .input-container {
    display: flex;
    background: none;
    width: 50%;
    border-radius: 6px;
    align-items: center;
    margin-left: 10px;
    border: 1px solid #bbbbbb;
}

.auto-calc-form .label-wrapper .label-helper {
    font-size: 16px;
    margin-left: 6px;
    color: #dbdbdb;
}

.auto-calc-form .label-wrapper input {
    border: none;
    background: none;
    outline: none;
    margin: 10px 6px;
    font-size: 20px;
    width: 75%;
    color: rgb(231, 230, 230);
}

.auto-calc-form .total-container h2 {
    color: #03d356;
}